body{
    height: 120vh;
    min-height: 500px;
    background-image: url('/images/backgrounds/chat-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.nav-text{
    color:rgb(165, 160, 160);
    font-size: 1.2em;
    font-weight: bolder;
  }

.container{
    max-width: 600px;
}

h1{
    color: whitesmoke;
}

.header{
    font-size: 1.2em;
    color: whitesmoke;
}

.btn{
    background: pink;
    color: white;
    font-size: 1em;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 5%;
}

.btn:focus{
    outline: none !important;
    color: white;
}

.username{
    font-weight: bold;
}

.time{
    font-size: 0.7em;
    color: #999;
}

.update-mssg{
    color: #999;
    font-weight: bold;
}
               
.glass{
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(255, 255, 255, 0.59);
}

