html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}
  
.nav-text{
  color:rgb(81, 81, 81);
  font-size: 1.2em;
  font-weight: bolder;
}

.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.3px);
-webkit-backdrop-filter: blur(1.3px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-text:hover{
  color: rgb(156, 153, 153);
}

  .keys {
    display: flex;
    flex: 1;
    min-height: 50vh;
    align-items: center;
    justify-content:center;
  }

  .text {
    font-size: 2.5em;
    color:rgb(81, 81, 81);
  }

  p.text {
    font-size: 1em;
    font-weight: bolder;
    color: rgb(81, 81, 81);
  }
  
  .key {
    border: .4rem solid rgb(22, 20, 185);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .1s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(130, 14, 23, 0.4);
    text-shadow: 0 0 .5rem rgb(42, 120, 194);   
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #037a1c;
    box-shadow: 0 0 1rem #2b12b6;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #2819d4;
  }

  video {
    position: absolute;
    left:00px;
    bottom: 00px;
    z-index: -2;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
}